@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 240 5.3% 26.1%;
    --foreground: 0 0% 98%;
 
    --card: 240 5.3% 26.1%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 5.3% 26.1%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 221 83.2% 53.3%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-zinc-600
  }
}